!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/jqueryUI/base/jquery.ui.base.css')
		link(rel='stylesheet', href='/stylesheets/jqueryUI/ui-lightness/jquery.ui.all.css')
		block
			script(type='text/javascript', src='/javascripts/jquery-1.7.1.min.js')
			script(type='text/javascript', src='/javascripts/jquery.ui.core.min.js')
			script(type='text/javascript', src='/javascripts/jquery.ui.widget.min.js')
			script(type='text/javascript', src='/javascripts/jquery.ui.position.min.js')
			script(type='text/javascript', src='/javascripts/jquery.ui.autocomplete.min.js')
			script(type='text/javascript', src='/javascripts/jquery.ui.datepicker.min.js')
			script(type='text/javascript', src='/javascripts/clog.js')
			script(type='text/javascript', src='/javascripts/tiny_mce/tiny_mce.js')
			script(type='text/javascript', src='/javascripts/editor.js')	
	body!= body