body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul.no-margin {
	margin: 0px;
}

h1.title {
  margin-top: 40px;
  margin-bottom: 10px;
}

h2.subtitle {
	margin-bottom: 0px;
}

.edit-body {
	width: 800px;
	height: 300px;
}

.edit-title {
	width: 800px;
}

.comment {
	width: 500px;
	height: 50px;
}

.vote {
	font-size: 26px;
	line-height: 0px;
	margin: 5px;
	text-decoration: none;
}

#votes {
	padding: 0;
	margin: 5px;
	font-size: 24px;
}

#make-comment {
	margin: 5px;
}

#tag-delete {
	margin-bottom: 10px;
}