body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul.no-margin {
	margin: 0px;
}

h1.title {
  	margin-top: 40px;
  	margin-bottom: 10px;
}

h2.subtitle {
	margin: 0px;
	padding: 0px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

p.subtitle {
	margin: 0px;
	padding: 0px;
}

.edit-body {
	width: 1000px;
	height: 500px;
}

.edit-title {
	width: 600px;
}

.inline-label {
	overflow: hidden; 
	float:left;
}

.inline-form {
	overflow: hidden; 
	float:left;
}

.inline-button {

}

.comment {
	width: 500px;
	height: 50px;
}

.vote {
	font-size: 26px;
	line-height: 0px;
	margin: 5px;
	text-decoration: none;
}

.upvote {
	margin-top: 30px;
}

#votes {
	padding: 0;
	margin: 5px;
	font-size: 24px;
}

#make-comment {
	margin: 5px;
}

#tag-delete {
	margin-bottom: 10px;
}

ul.tags {
	padding: 0px;
	margin: 0px 0px 10px 0px;
}

ul.tags a {
	color: #000000;
}

li.tag {
	list-style-type: none;
	font-size: 12px;
	font-weight: bold;
	padding: 2px;
	margin-right: 6px;
	background-color: #DDDDDD;
	border-style:solid;
	border-color:#CCCCCC;
	border-radius: 1px;
	display: inline;
}

li.tag-edit {
	list-style-type: none;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 4px 2px 2px;
	margin-right: 6px;
	background-color: #DDDDDD;
	border-style:solid;
	border-color:#CCCCCC;
	border-radius: 1px;
	display: inline;
}

.tag-edit-button {
	background-color: #DDDDDD;
	border-style:none;
	padding: 0px;
	margin: 3px;
}

.tag-edit-button:hover {
	color: #888888;
	cursor:pointer;
}

#blog {
	padding: 10px;
	background-color: #EEEEEE;
	margin-bottom: 10px;
	width: 70%;
	border-style:dotted;
	border-color:#DDDDDD;
	border-radius: 2px;
}

.blog-delete-button {
	background-color: #EEEEEE;
	border-style:none;
	font-size: 16px;
	vertical-align: middle;
	padding: 0px;
	margin: 3px;
}

.blog-delete-button:hover {
	color: #888888;
	cursor:pointer;
}