#blog
	form(action='/blog/delete', class='inline-form', method='POST')
		input(type='hidden', id='blog-id', name='blog[id]', value=blog._id.toHexString())
		input(type='submit', value='x')
	a(href='/blog/' + blog._id.toHexString())
		h2.inline-form-container= ' ' + blog.title + ' (' + (blog.meta.upvotes - blog.meta.downvotes) +')'
	- if (blog.date)
		p= formatter.format(blog.date)
	p!= blog.body