#blog
	h2= '> ' + blog.title + ' (' + (blog.meta.upvotes - blog.meta.downvotes) +')'
	- if (blog.date)
		p= formatter.format(blog.date)
	p= blog.body
	p 
		a(href='/blog/' + blog._id.toHexString()) Go to post
		form(action='/blog/delete', method='POST')
			input(type='hidden', id='blog-id', name='blog[id]', value=blog._id.toHexString())
			input(type='submit', value='delete')