a(href='/blogs') Back
h1 New Clog
form(action='/blog/post/new', method='POST')
	p
		label(for='post-title') Title:&nbsp;
		input(type='text', id='post-title', name='blog[title]', class='edit-title')
	p
		label(for='post-date') Publish Date:&nbsp
		input(type='text', id='post-date', name='blog[date]')
	p
		label(for='post-body') Body:
	p
		textarea(id='post-body', name='blog[body]', class='edit-body')
	p		
		div.selectTags
			label(for='tags') Tags:&nbsp
			input(type='text', id='tags')	
			input(type='hidden', id='selectedTags', name='tag[names]', value='')
	p
		ul.tags	
	p
		input(type='submit')

	- var names = ''
	- for(i=0; i<tagList.length; i++) {
	-		names += '"' + tagList[i].name + '"' + ',' 
	- }

	script	
		$(function() {
			initEditor();
			initDateSelector();
			initTags([!{names}]);
			
		});