h1 New Clog
form(action='/blogs/post', method='POST')
	p
		label(for='post-title') Title:
	p
		input(type='text', id='post-title', name='blog[title]', class='edit-title')
	p
		label(for='post-body') Body:
	p
		textarea(id='post-body', name='blog[body]', class='edit-body')
	p
		each tag in tagList
			input(type='checkbox', name='tag[ids]', value=tag._id.toHexString())
			=tag.name
			br		
	p
		input(type='submit')