a(href='/blogs') Back
h1 New Clog
form(action='/blogs/post', method='POST')
	p
		label(for='post-title') Title:&nbsp;
		input(type='text', id='post-title', name='blog[title]', class='edit-title')
	p
		label(for='post-date') Publish Date:&nbsp
		input(type='text', id='post-date', name='blog[date]')
	p
		label(for='post-body') Body:
	p
		textarea(id='post-body', name='blog[body]', class='edit-body')
	p		
		div.selectTags
			label(for='tags') Tags:&nbsp
			input(type='text', id='tags')	
			input(type='hidden', id='selectedTags', name='tag[names]', value='')
	p
		ul.tags	
	p
		input(type='submit')

	- var names = ''
	- for(i=0; i<tagList.length; i++) {
	-		names += '"' + tagList[i].name + '"' + ',' 
	- }

	script
		$(function() {
			$('#tags').focus(function() {
				$(this).val('');
			});

			function bindRemoveTag () {

				$('a[id^="remove_tag:"]').bind('click', function(event) {

					var tagName = event.target.id.split(':')[1];
					var hdnValue = $('#selectedTags').val();
						
					if (hdnValue) {
						var hdnValueArray = hdnValue.split(',');

						var newHdnValue = '';
						for(i=0;i<hdnValueArray.length;i++) {
							if (hdnValueArray[i] != tagName) {
								newHdnValue += hdnValueArray[i] + ',';
							}
						}

						newHdnValue = newHdnValue.substring(0, newHdnValue.length-1);

						$('#selectedTags').val(newHdnValue);
					} 

					$(this).closest('li').remove();
				});
			}

			function addLi (name) {
				var newLi = '<li class="tag"><a id="remove_tag:' + name + '" class="remove-tag">x<a/>' + name + '</li>';
				$('ul.tags').append(newLi);

				bindRemoveTag();
			}

			var searchableTags = [!{names}];
			$('#tags').autocomplete({
				source: searchableTags,
				select: function(event, ui) {

					var hdnValue = $('#selectedTags').val();
					
					if (!hdnValue) {
						$('#selectedTags').val(ui.item.value);
						addLi(ui.item.value);
					} else {
						if (hdnValue.indexOf(ui.item.value) == -1) {
							$('#selectedTags').val(hdnValue + ',' + ui.item.value);
							addLi(ui.item.value);
						} 
					}

					return false;
				}
			});
		});